<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>3 Column Layout</title>
	
</head>

<body>

	

	<div id="container">

		<main id="center" class="column">
			<article>
			
				<h1>Utilize o menu ao lado para navegar.</h1><br>
				<p>Não há nenhuma validação de dados, portanto tenha cuidado nos dados inseridos.</p>
				<p>Este aplicativo tem como intuito apenas gerar ids com suporte para nomeclatura de máquinas no sistema OTRS (link ao lado)</p>
				<p>Os tokens são gerados automaticamente com uma série de variáveis, e as informações guardadas são com apenas intuito de orientação dos ids, sem nenhuma validade com o banco de dados real do OTRS.</p>
				</article>								
		</main>

		<nav id="left" class="column">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Gerar ID</a></li>
				<li><a href="search">Consultar</a></li>
				<li><a href="sobre">Sobre</a></li>
				<li><a href="ajuda">Ajuda</a></li>
				<li><a href="http://centraldeservicostic.ufpe.br/otrs/index.pl">OTRS</a></li>
			</ul>

		</nav>

		

	</div>

	

</body>

</html>