<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
</head>

<body>

	

	<div id="container">

		<main id="center" class="column">
			<article>
			
				<h1>Formulário para cadastro de equipametos:</h1>
				<%= form_for("/cadastrar", method: "post") do %>
				 <table style="width:50%">
				<p>Selecione abaixo o tipo do equipamento para gerar um ID</p> 	<%= select_tag(:tipo, options_for_select([['Computador', 'computador'], ['Celular', 'celular'], ['No-break', 'nobreak'], ['Notebook', 'notebook'], ['Monitor', 'monitor']], 1)) %>
  
</table>
<br><br>
<%= submit_tag("Gerar ID") %>
<% end %>
				
			
			</article>								
		</main>

		<nav id="left" class="column">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Gerar ID</a></li>
				<li><a href="search">Consultar</a></li>
				<li><a href="sobre">Sobre</a></li>
				<li><a href="ajuda">Ajuda</a></li>
				<li><a href="http://centraldeservicostic.ufpe.br/otrs/index.pl">OTRS</a></li>
			</ul>

		</nav>

		

	</div>


</body>

</html>