<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>3 Column Layout</title>
	
</head>

<body>

	

	<div id="container">

		<main id="center" class="column">
			<article>
			
				<h1>Este é um aplicativo na plataforma Ruby on Rails.</h1><br>
				<p><a href="https://github.com/rbm4/CMI_ids">Repositório no gitub.</a></p>
				<p>Produzido pelo CMI-NTI</p>
				<p></p>
				</article>								
		</main>

		<nav id="left" class="column">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Cadastrar</a></li>
				<li><a href="search">Consultar</a></li>
				<li><a href="sobre">Sobre</a></li>
				<li><a href="ajuda">Ajuda</a></li>
				<li><a href="http://centraldeservicostic.ufpe.br/otrs/index.pl">OTRS</a></li>
			</ul>

		</nav>

		

	</div>

</body>

</html>